html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #f7b05b, #cc5803);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    padding-top: 0; /* Remove the top padding as we are centering the content */
}

.form-container {
    background-color: #ffc15e;
    border-radius: 20px;
    padding: 40px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
