@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #ffc15e, #cc5803);
    background-attachment: fixed;
    font-family: "Audiowide", sans-serif;
}

.container-profile {
    padding-top: 150px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #804822;
}

.content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    position: relative;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f5e6c5;
}

.profile-name {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.edit-profile-button {
    background-color: #f7934c;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.profile-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    max-width: 850px;
}


.profile-info-card {
    background: linear-gradient(to top, #ffc15e, #cc5803);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.friends-list {
    background-color: #f5e6c5;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    width: 250px;
    margin-right: 20px;
}

.friends-list h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.view-friends-button {
    background-color: #f7934c;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.friends-list img {
    width: 60px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the images circular */
    object-fit: cover; /* Ensure the image covers the space */
    margin: 5px 0; /* Add some space between the images */
}


.line-separator {
    width: 100%;
    max-width: 1200px;
    border-top: 2px solid #cc5803;
    margin: 20px 0;
}
